<div class="education">
    <div class="titre"><h1 class="t1">Education </h1> <p class="t2">Background</p>
    </div>    

<div class="edc">
    <div class="vertical-hr"></div>
    <div class="part"><h2>2020</h2>
    <h3>Amra Height School</h3>          
    <h4> <i class="fas fa-award" style="margin-right: 5px;color: rgba(235, 51, 177, 0.664);"></i>Mathematic Baccalaureat
    </h4></div>
    <div class="vertical-hr"></div>
    <div class="part"><h2>2020-2022</h2>
    <h3>Preparatory institute of engineering studies of sfax</h3><h4> <i class="fas fa-award" style="margin-right: 5px;color: rgba(235, 51, 177, 0.664);"></i>rang:238/1380
    </h4></div>
    <div class="vertical-hr"></div>
    <div class="part"><h2>2022-Now</h2>
    <h3>National School of Computer Sciences of Mannouba</h3><h4> <i class="fas fa-award" style="margin-right: 5px;color: rgba(235, 51, 177, 0.664);"></i>engineering degree
    </h4></div>
</div>
</div> 