<div class="about">
<div class="text">
    <h1 class="aya">Hello,I'm Aya Slimen </h1> <h2> A second year computer engineering Student </h2> <h3>My academic journey has been dedicated to honing my skills in the field of computer science and engineering. 
        <br>With a strong focus on web development, <br> I have acquired practical knowledge and hands-on experience in designing and implementing web applications.<br>
 <br> 
        </h3> <hr style="height: 2px; background-color: #404f54; width: 80%;margin-left:5%;margin-top: -2%;">
        <button (click)="downloadPdf('ayacv')">DOWNLOAD CV</button>
</div>

    <div class="whoiam"> <img src=".\assets\eyaslimen.png" alt=""></div>

</div>