<div class="contact">
    <div class="cnct"> <div>
        <h1> Get in touch</h1>
        <form >
            <label for="name">Name :</label>
            <input type="text" id="name" name="name" required>
        
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
        
            <label for="message">Message :</label>
            <textarea id="message" name="message" required></textarea>  
        
          <button (click)="submitForm()" >Send</button>
             <h3 *ngIf="test" style="color:#f10bac;font-family: Tangerine;margin-left: 5%;margin-top: -5%;">Thank you !</h3> 
            <div class="social">   
            <a href="https://www.facebook.com/slimen.aya.54/"><i class="fab fa-facebook-f" href="https://www.facebook.com/slimen.aya.54/"></i></a>
            <a href="https://www.instagram.com/ayaa.slimen/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/slimen-eya-241706252/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Eyaslimen"><i class="fab fa-github"></i></a> 
            </div>
        </form>  
    </div> <hr style="margin-left:80%; height: 300px; margin-top: 20%;">
    <div class="cord">
            <p><i class="fa fa-phone" aria-hidden="true"></i> 24923967</p><br>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>eya.slimen&#64;ensi-uma.tn</p><br>
            <p><i class="fa fa-home" aria-hidden="true"></i>Tunis,Sfax</p><br>
    </div> </div>

</div>    