
<div class="projects">
    <h1 class="titre">Projects</h1>
    <div class="projects_"> 
        <div class="part">
        <div><h1>MindfulU</h1></div>
        <div>
            <p>It's a mental health application designed specifically for students, incorporating a chatbot to assist them in improving their well-being</p>
            <p class="Technologies">Technologies</p>
            <ul><li>Flutter</li>
                <li>Firebase</li>
                <li>Rasa</li> 
                <li>Python</li>
                </ul>
            <button routerLink="/mindfulu">See More</button>
        </div>
        </div>
        <div class="part">
            <div><h1>Unilivres</h1></div>
            <div>
                <p>It's a website catering to book lovers, offering features like purchasing, downloading PDFs, buying, or giving away books.</p>
                <p class="Technologies">Technologies</p>
                <ul><li>Angular17</li>
                    <br><br><br>
                    </ul>
                <button routerLink="/unilivres">See More</button>
            </div>
            </div>
            <div class="part">
                <div><h1>Cosy</h1></div>
                <div>
                    <p>It's a website where users can browse  through a wide range of cosmetic products and find the perfect match for their skin type</p>
                    <p class="Technologies">Technologies :</p>
                    <ul><li>Html</li>
                        <li>Css</li>
                        <li>Js</li> 
                        <li>Php</li>
                        </ul>
                    <button routerLink="/cozy">See More</button>
                </div>
                </div>
    </div> </div>
    <router-outlet></router-outlet>