
<div class="skills">
    <h1 class="titre">Skills</h1>
    <div class="skills_"> 
        <div class="c1"><p>HTML</p></div>
        <div class="c1"><p>CSS</p></div>
        <div class="c1"><p>JS</p></div>
        <div class="c1"><p>TS</p></div>
        <div class="c1"><p>PHP</p></div>
        <div class="c1"><p>SQL</p></div>
        <div class="c1"><p>ANGULAR</p></div>
        <div class="c1"><p>JAVA</p></div>
        <div class="c1"><p>C++</p></div>
        <div class="c1"><p>C</p></div>
        <div class="c1"><p>FLUTTER</p></div>
        <div class="c1"><p>FIREBASE</p></div>
        <div class="c1"><p>PYTHON</p></div>
        <div class="c1"><p>GIT</p></div>
        <div class="c1"><p>GITHUB</p></div>
        <div class="c1"><p>JIRA</p></div>
    </div> </div>